[Desktop Entry]
Encoding=UTF-8
Name=Link to favicon.ico
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=f6651cb3ed&view=att&th=13f86dd96ad7b783&attid=0.1&disp=safe&realattid=f_higa2bhr0&zw
Icon=text-html
